services:
  dev:
    image: yasf-ubuntu
    working_dir: ${PROJECT_ROOT}

    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ${PROJECT_ROOT}:${PROJECT_ROOT}
      - ${VCPKG_ROOT}:${VCPKG_ROOT}
      - ${VCPKG_CACHE_HOST}:${VCPKG_CACHE_HOST}
      - /tmp/.X11-unix:/tmp/.X11-unix:rw

    environment:
      - VCPKG_ROOT=${VCPKG_ROOT}
      - VCPKG_DEFAULT_BINARY_CACHE=${VCPKG_CACHE_HOST}
      - DISPLAY=${DISPLAY}

    stdin_open: true
    tty: true

    security_opt:
      - label=disable

    devices:
      - /dev/dri:/dev/dri

